* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

nav {
  position: sticky;
  top: 0;
  /* overflow: hidden; */
  width: 100%;
}
.nav-bar {
  width: 100%;
  height: 100px;
  padding: 30px 60px;
  color: #fff;
  box-shadow: 0 0 15px 4px #999;

  background: linear-gradient(
    90deg,
    rgba(102, 125, 233, 1) 0%,
    rgba(117, 78, 166, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-bar .site-name {
  font-size: 36px;
  flex: 1;
}

.nav-bar .nav-items {
  flex: 1;
}

.nav-bar .nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;

  color: #fff;
  font-size: 20px;
  list-style-type: none;
}

.nav-items .nav-item:last-child {
  font-size: 24px;
}

.nav-items .nav-item a {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
}

.nav-items .nav-item:hover > a {
  background: #ffffff33;
  transform: translateY(-3px);
}

.category-option {
  position: relative;
}

.category-dropdown {
  position: absolute;
  /* display: none; */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  background: #fff;
  color: #333;
  border-radius: 5px;
  margin-top: 13px;
  box-shadow: 0 0 15px 3px rgba(51, 51, 51, 0.427);
  transition: all 0.5s ease;
  overflow: hidden;
}

.nav-items .nav-item:hover .category-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.category-items {
  display: block;
  padding: 15px 100px 15px 20px;
  border-bottom: 1px solid #d6d6d6;
  transition: all 0.3s ease-in-out;
}

.category-items:hover {
  cursor: pointer;
  background-color: #d6d6d6;
  transform: translateX(10px);
  border-radius: 5px;
}
