* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

nav {
  position: sticky;
  top: 0;
  /* overflow: hidden; */
  width: 100%;
  z-index: 9999;
}
.nav-bar {
  height: 100px;
  padding: 30px 60px;
  color: #fff;
  box-shadow: 0 0 15px 4px #33333342;

  background: linear-gradient(
    135deg,
    rgba(102, 125, 233, 1) 0%,
    rgba(117, 78, 166, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-bar .site-name {
  font-size: 36px;
  flex: 1;
}

.nav-bar .nav-items {
  flex: 1;
}

.nav-bar .nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;

  color: #fff;
  font-size: 20px;
  list-style-type: none;
}

.nav-items .nav-item:last-child {
  font-size: 24px;
}

.nav-items .nav-item a {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
}

.nav-items .nav-item:hover > a {
  background: #ffffff33;
  transform: translateY(-3px);
  cursor: pointer;
}

.category-option {
  position: relative;
}

.category-dropdown {
  position: absolute;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  background: #fff;
  color: #333;
  border-radius: 5px;
  margin-top: 13px;
  box-shadow: 0 0 15px 3px rgba(51, 51, 51, 0.427);
  transition: all 0.5s ease;
  overflow: hidden;
}

.nav-items .nav-item:hover .category-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.category-items {
  display: block;
  padding: 15px 100px 15px 20px;
  border-bottom: 1px solid #d6d6d6;
  transition: all 0.3s ease-in-out;
}

.category-items:hover {
  cursor: pointer;
  background-color: #d6d6d6;
  transform: translateX(10px);
  border-radius: 5px;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  min-height: 50vh;
  background: linear-gradient(
    135deg,
    rgba(102, 125, 233, 1) 0%,
    rgba(117, 78, 166, 1) 100%
  );

  padding: 60px;
}

.event-overview {
  flex: 1;
}

.event-overview h2 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 30px;
}

.event-overview div {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}

.event-overview button {
  padding: 20px 30px;
  border-radius: 40px;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  border: none;
  color: transparent;
  background: #fff;
  color: #6d7eea;
  transition: all 0.3s ease-in;
}

.event-overview button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px 8px #3333333b;
}

.party-icon {
  flex: 1;
  text-align: center;
  font-size: 192px;
  animation: 2.5s infinite ease-in-out bounce;
  pointer-events: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Content section */
.main-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 40px;
  padding: 40px;
}

.sidebar {
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  height: fit-content;
  position: sticky;
  top: 120px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters-section h3 {
  color: #6d7eea;
  font-size: 24px;
  margin-bottom: 20px;
}

.filters-section .filter {
  font-size: 20px;
  transition: all 0.1s ease-in;
}

.filter:hover {
  transform: translateX(10px);
  cursor: pointer;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 40px;
  gap: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card .product-icon {
  flex: 1;
  text-align: center;
  min-height: 300px;
  padding: 120px 50px;
  font-size: 84px;
  background: linear-gradient(
    135deg,
    rgba(102, 125, 233, 1) 0%,
    rgba(117, 78, 166, 1) 100%
  );
  border-radius: 10px 10px 0 0;
}

.product-card .product-detail {
  padding: 20px;
  box-shadow: 0 5px 15px 5px #5e5e5e29;
  border-radius: 0 0 10px 10px;
  /* z-index: -1; */
}

.product-detail h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .product-rating {
  font-size: 22px;
  margin-bottom: 15px;
}

.product-rating span {
  color: goldenrod;
  font-size: 20px;
}

.product-detail .product-price {
  font-size: 30px;
  font-weight: bold;
  color: #6d7eea;
  margin-bottom: 10px;
}

.product-detail .add-cart-btn {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background-color: #6d7eea;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

/* About section */
.about-section {
  background-color: #2c3e50;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 40px;
  color: #fff;
}

.about-site h3 {
  color: #667ee1;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-site p,
.about-site ul {
  font-size: 22px;
}

.about-site ul {
  list-style-type: none;
}

.about-site .site-info li {
  transition: all 0.1s ease-in-out;
}

.about-site .site-info li:hover {
  transform: translateX(10px);
  color: #667ee1;
  cursor: pointer;
}

.about-site .social-links {
  display: flex;
  font-size: 36px;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.about-site .social-links li:hover {
  transform: translateY(-5px) scale(1.1);
  cursor: pointer;
}

.copyright {
  background-color: #2c3e50;
}

.seperator {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #667ee137;
}

.copyright-text {
  padding: 20px 120px;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
