* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Theme */

:root {
  --bg-color: #fff;
  --bg-color-hover: #e7f5ff;
  --bg-color-checked: #c9c9c9;
  --bg-color-button: #228be6;
  --bg-color-button-hover: #157cd6;
  --bg-color-overlay: #00000066;
  --border-color: #9999995d;
  --text-color: #333;
  --secondary-text-color: #228be6;
}

/*  Base background */

body {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

main {
  width: 35%;
}

/* header section with dark mode button */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header h2 {
  font-size: 44px;
  font-weight: 800;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.taskList li {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 2rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.taskList li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checked {
  background-color: var(--bg-color-checked);
}

.checked span {
  text-decoration: line-through solid red;
  text-decoration-thickness: 2px;
}

/* Icon Colors and Size */

.fa-trash-can {
  color: rgb(255, 16, 16);
}

.fa-trash-can:hover {
  cursor: pointer;
}

.fa-regular {
  font-size: 1.25rem;
}

.fa-moon,
.fa-sun {
  color: var(--secondary-text-color);
}

.fa-moon:hover,
.fa-sun:hover {
  cursor: pointer;
}

.addNewTask {
  width: 100%;
  padding: 0.75rem 5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--bg-color-button);
  color: #fff;
  margin-top: 1rem;
}

.addNewTask:hover {
  background-color: var(--bg-color-button-hover);
  cursor: pointer;
}

/* Task Input Popup */

.add-task-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-color-overlay);
  overflow: auto;
  display: none;
}

.add-task-content {
  width: 30%;
  margin: 15% auto;
  padding: 2rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-task-content h4 {
  font-size: 1.25rem;
  font-weight: 300;
}

.input-title,
.input-summary {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
}

.input-title input,
.input-summary input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  font-size: 1rem;
}

.input-title input:focus,
.input-summary input:focus {
  outline: 1px solid #228be6;
  border: none;
}

.input-title label::after,
.input-summary label::after {
  content: " *";
  color: red;
}

.create-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-cancel,
.task-add {
  padding: 0.75rem 1.75rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-weight: 500;
}

.task-cancel {
  background-color: var(--bg-color);
  color: var(--secondary-text-color);
}

.task-cancel:hover {
  background-color: var(--bg-color-hover);
  cursor: pointer;
}

.task-add {
  background-color: var(--bg-color-button);
  color: #fff;
}

.task-add:hover {
  background-color: var(--bg-color-button-hover);
  cursor: pointer;
}
